<div class='row'>
  <div class='col-md-12'>
    <div class='row text-center'>
      <div class='col-md-12'>
        Select Subscripion Package 
      </div>
      </br></br></br>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <%= form_with(url: "/subscriptions/new", method: "get", local: true ) do |form| %>
          <table class="table text-center">
            <tr>
              <th></th>
              <th>Subscription Type</th>
              <th>Code</th>
              <th>Duration( in months )</th>
              <th>Price</th>
              <th>Select</th>
            </tr>
            <% @subscription_types.each_with_index do |subscription_type, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td>
                  <%=subscription_type.title %>
                </td>
                <td>
                  <%=subscription_type.code %>
                </td>
                <td>
                  <%=subscription_type.duration %>
                </td>
                <td>
                  <%=subscription_type.price %>
                </td>
                <td>
                  <%= form.radio_button :subscription_type, "#{subscription_type.id}" %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan='6' class='text-center'><%= form.submit "Subscribe" %></td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class='col-md-2'></div>
    </div>
  </div>
</div>
